body {
  margin: 0;
  min-height: calc(100% - 164px);
}

.gameCard {
  transition: transform 400ms ease-in-out;
  transform: scale(1);
}
.gameCard:hover {
  transform: scale(1.1);
}

.favAdd {
  animation-name: fav-add;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.favRemove {
  animation-name: fav-remove;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.badgeAdd {
  animation-name: badge-add;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.34, 0.27, 1.55);
}
.badgeRemove {
  animation-name: badge-remove;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.34, 0.27, 1.55);
}

.ratingAdd {
  animation-name: rating-add;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.ratingRemove {
  animation-name: rating-remove;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.ratingUpdate {
  animation-name: rating-update;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes rating-add {
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}
@keyframes rating-remove {
  50% {
    opacity: 0;
  }
}
@keyframes rating-update {
  50% {
    opacity: 0.5;
  }
}
@keyframes badge-add {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    font-size: 40px;
  }
  100% {
    opacity: 1;
  }
}
@keyframes badge-remove {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    font-size: 5px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fav-add {
  0% {
    color: #5f5f72;
    bottom: 0px;
  }

  50% {
    bottom: 20px;
    font-size: 42px;
  }

  100% {
    color: #f44336;
    transform: rotateY(720deg);
    bottom: 0px;
  }
}

@keyframes fav-remove {
  0% {
    transform: rotateY(0deg);
    color: #f44336;
    font-size: 24px;
  }

  50% {
    transform: rotateY(-360deg);
    opacity: 0.5;
    font-size: 12px;
  }

  100% {
    transform: rotateY(-720deg);
    color: #5f5f72;
    font-size: 24px;
  }
}
